@import "./utils/variables";
@import "./utils/mixins";

nav{
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: center;
    @include tablet-screen{
        display: none;
    }
    .nav-wrapper{
        position: absolute;
        background-color: rgba(71, 71, 71, 0.64);
        box-shadow: rgba(117, 117, 117, 0.212) 0px 0px 3px 3px;
        border-radius: 3px;
        ul>li {
            border: 1.5px #6c6c6c8a solid;
            border-radius: 3px;
            &:hover{
                background-color: rgba(32, 32, 32, 0.64);
                border-radius: 3px;
            }
        }
    }    
}